<link rel="stylesheet" href="@components/layout/popup/popup.scss">

<div data-fls-popup="popup-details" aria-hidden="true" class="popup">
	<div data-fls-popup-wrapper class="popup__wrapper">
		<div data-fls-popup-body class="popup__body">
			<button data-fls-popup-close type="button" class="popup__close">
				<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.00034 1L13.3747 13.3744M13.3744 1L1 13.3744" stroke="white" stroke-width="2"/>
				</svg>
			</button>
			<div data-fls-popup-content class="popup__text">
				 <div data-info-el data-fls-dynamic=".cake-detail__body,992.98,1,min" class="info-cake">
					<div data-info-subel class="info-cake__images info-cake__images--1">
						<img class="info-cake__img ibg" src="@img/cake-detail/cake-about-1.jpg" width="277" height="311" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-2.jpg" width="277" height="311" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-3.jpg" width="277" height="311" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-4.jpg" width="277" height="311" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-5.jpg" width="277" height="311" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-6.jpg" width="277" height="311" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-7.jpg" width="277" height="311" alt="Image">
					</div>	
					<div data-info-subel  class="info-cake__images info-cake__images--2">
						<img class="info-cake__img ibg" src="@img/cake-detail/cake-about-2.jpg" width="286" height="196" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-8.jpg" width="286" height="196" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-9.jpg" width="286" height="196" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-10.jpg" width="286" height="196" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-11.jpg" width="286" height="196" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-12.jpg" width="286" height="196" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-13.jpg" width="286" height="196" alt="Image">
					</div>	
					<div data-info-subel  class="info-cake__images info-cake__images--3">
						<img class="info-cake__img ibg" src="@img/cake-detail/cake-about-3.jpg" width="237" height="356" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-12.jpg" width="237" height="356" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-11.jpg" width="237" height="356" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-9.jpg" width="237" height="356" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-8.jpg" width="237" height="356" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-7.jpg" width="237" height="356" alt="Image">
						<img class="info-cake__img ibg" src="@img/cake-history/cake-history-6.jpg" width="237" height="356" alt="Image">
					</div>	
					<ul data-info-subel class="info-cake__list">
						<li class="info-cake__item">
							<p class="info-cake__title">Шоколадні крихти</p>
							<p class="info-cake__txt">Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, щоб отримати 
								ту саму ніжність, яка дарує 
								тепло з першого шматочка.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">Вишня для оздоблення</p>
							<p class="info-cake__txt">2 Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, щоб отримати 
								ту саму ніжність.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">Глазур зі сметаною</p>
							<p class="info-cake__txt">3 Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, яка дарує 
								тепло з першого шматочка.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">Сироп з коньяком</p>
							<p class="info-cake__txt">4 Щоб отримати 
								ту саму ніжність, яка дарує 
								тепло з першого шматочка.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">бісквіт з какао</p>
							<p class="info-cake__txt">5 Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, щоб отримати 
								ту саму ніжність, яка дарує 
								тепло з першого шматочка.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">Крем зі згущеним молоком</p>
							<p class="info-cake__txt">6 Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, щоб отримати 
								ту саму ніжність, яка дарує 
								тепло з першого шматочка.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">Соковита вишня</p>
							<p class="info-cake__txt">7 Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, щоб отримати 
								ту саму ніжність, яка дарує 
								тепло з першого шматочка.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-fls-popup="popup-cake" aria-hidden="true" class="popup">
	<div data-fls-popup-wrapper class="popup__wrapper">
		<div data-fls-popup-body class="popup__body">
			<button data-fls-popup-close type="button" class="popup__close">
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.850056" d="M1.73333 1.48883L21.5469 21.0288" stroke="#979797" stroke-linecap="square" /><path opacity="0.850056" d="M21.2667 1.48883L1.45309 21.0288" stroke="#979797" stroke-linecap="square" /></svg>
			</button>
			<div data-fls-popup-content class="popup__text">
				<!-- Контент -->
			</div>
		</div>
	</div>
</div>


