<link rel="stylesheet" href="@components/layout/popup/popup.scss">

<div data-fls-popup="popup-cake" aria-hidden="true" class="popup popup-cake">
	<div data-fls-popup-wrapper>
		<div data-fls-popup-body>
			<div data-fls-popup-content>
				<!-- Контент -->
				<div class="popup-cake__wrapper">
					<div class="popup-cake__bg"></div>
					<div class="popup-cake__container">
						<div class="popup-cake__nav">
							<a href="#" class="popup-cake__btn btn btn--c" aria-label="замовити">
								<div class="btn--ic">
									<img src="@img/icons/cart-dark.svg" width="28" height="31" alt="корзина замовлення">
								</div>
								<span>Замовити</span>
							</a>
							<button class="popup-cake__close" data-fls-popup-close type="button" aria-label="закрити попап">
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.00034 1L13.3747 13.3744M13.3744 1L1 13.3744" stroke="white" stroke-width="2" />
								</svg>
							</button>
						</div>
						<div class="popup-cake__body">
							<div class="popup-cake__info">
								<div class="popup-cake__head">
									<h3 class="popup-cake__title">
										ПЕЧИВО «КАЛІФОРНІЯ» ЗІ СМАКОМ АПЕЛЬСИНУ
									</h3>
									<div class="popup-cake__txt">
										<p>Новий тренд! Якщо хочеться похрумтіти з усією родиною! Зустрічайте печивко «Каліфорнія» – хрустке поєднання листкового тіста з начинкою зі смаком апельсину. Надзвичайно легкий смаколик точно знайде шанування серед поціновувачів
											солодощів до чаю чи кави.
	
										</p>
										<p>Будь в тренді! Хрумти солодко!</p>
									</div>
								</div>
								<div class="popup-cake__specification specification">
									<ul class="specification__list">
										<li class="specification__item">
											<div class="specification__title">
												<p>ВАГА 1 ШТ:</p>
											</div>
											<div class="specification__descr">
												<p>≈ 8 - 9 г.</p>
											</div>
										</li>
										<li class="specification__item">
											<div class="specification__title">
												<p>ТЕРМІН ПРИДАТНОСТІ:</p>
											</div>
											<div class="specification__descr">
												<p>6 МІСЯЦІВ</p>
											</div>
										</li>
										<li class="specification__item">
											<div class="specification__title">
												<p>ЯЩИК-ЕКРАНГОФРОКАРТОН:</p>
											</div>
											<div class="specification__descr">
												<p>395 х 295 х 90 mm - 2,5 кг</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="popup-cake__images">
								<div class="popup-cake__block">
									<div class="popup-cake__picture">
										<img src="@img/cake/cake-piece-popup.png" width="525" height="525" alt="Image">
									</div>
									<div class="popup-cake__podium"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>