<link rel="stylesheet" href="@components/layout/popup/popup.scss">

<div data-fls-popup="popup-details" aria-hidden="true" class="popup">
	<div data-fls-popup-wrapper class="popup__wrapper">
		<div data-fls-popup-body class="popup__body">
			<button data-fls-popup-close type="button" class="popup__close" aria-label="закрити попап">
				<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.00034 1L13.3747 13.3744M13.3744 1L1 13.3744" stroke="white" stroke-width="2" />
				</svg>
			</button>
			<div data-fls-popup-content>
				<div data-fls-mouse-wrapper data-info-el data-fls-dynamic=".cake-detail__body,992.98,1,min" class="info-cake">
					<span class="info-cake__bg info-cake__bg--0">
						<span data-fls-mouse></span>
					</span>
					<div data-info-subel class="info-cake__images info-cake__images--1">
						<span class="info-cake__bg info-cake__bg--1"><span data-fls-mouse></span></span>
						<span class="info-cake__bg info-cake__bg--2"><span data-fls-mouse></span></span>
						<div class="info-cake__images-wr">
						 <img class="info-cake__img ibg" src="@img/cake-detail/cake-about-1.jpg" width="277" height="311" alt="Image">
						 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-2.jpg" width="277" height="311" alt="Image">
						 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-3.jpg" width="277" height="311" alt="Image">
						 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-4.jpg" width="277" height="311" alt="Image">
						 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-5.jpg" width="277" height="311" alt="Image">
						 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-6.jpg" width="277" height="311" alt="Image">
						 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-7.jpg" width="277" height="311" alt="Image">
						</div>
					</div>
					<div data-info-subel class="info-cake__images info-cake__images--2">
						<span class="info-cake__bg info-cake__bg--1"><span data-fls-mouse></span></span>
						<span class="info-cake__bg info-cake__bg--2"><span data-fls-mouse></span></span>
						 <div class="info-cake__images-wr">
							 <img class="info-cake__img ibg" src="@img/cake-detail/cake-about-2.jpg" width="286" height="196" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-8.jpg" width="286" height="196" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-9.jpg" width="286" height="196" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-10.jpg" width="286" height="196" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-11.jpg" width="286" height="196" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-12.jpg" width="286" height="196" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-13.jpg" width="286" height="196" alt="Image">
						 </div>
					</div>
					<div data-info-subel class="info-cake__images info-cake__images--3">
						<span class="info-cake__bg info-cake__bg--1"><span data-fls-mouse data-fls-mouse-dxr data-fls-mouse-dyr></span></span>
						 <div class="info-cake__images-wr">
							 <img class="info-cake__img ibg" src="@img/cake-detail/cake-about-3.jpg" width="237" height="356" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-12.jpg" width="237" height="356" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-11.jpg" width="237" height="356" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-9.jpg" width="237" height="356" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-8.jpg" width="237" height="356" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-7.jpg" width="237" height="356" alt="Image">
							 <img class="info-cake__img ibg" src="@img/cake-history/cake-history-6.jpg" width="237" height="356" alt="Image">
						 </div>
					</div>
					<ul data-info-subel class="info-cake__list">
						<li class="info-cake__item">
							<p class="info-cake__title">Шоколадні крихти</p>
							<p class="info-cake__txt txt">Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, щоб отримати
								ту саму ніжність, яка дарує
								тепло з першого шматочка.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">Вишня для оздоблення</p>
							<p class="info-cake__txt txt">2 Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, щоб отримати
								ту саму ніжність.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">Глазур зі сметаною</p>
							<p class="info-cake__txt txt">3 Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, яка дарує
								тепло з першого шматочка.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">Сироп з коньяком</p>
							<p class="info-cake__txt txt">4 Щоб отримати
								ту саму ніжність, яка дарує
								тепло з першого шматочка.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">бісквіт з какао</p>
							<p class="info-cake__txt txt">5 Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, щоб отримати
								ту саму ніжність, яка дарує
								тепло з першого шматочка.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">Крем зі згущеним молоком</p>
							<p class="info-cake__txt txt">6 Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, щоб отримати
								ту саму ніжність, яка дарує
								тепло з першого шматочка.
							</p>
						</li>
						<li class="info-cake__item">
							<p class="info-cake__title">Соковита вишня</p>
							<p class="info-cake__txt txt">7 Ми взбиваємо крем
								зі згущеним молоком
								і додаємо какао, щоб отримати
								ту саму ніжність, яка дарує
								тепло з першого шматочка.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-fls-popup="popup-cake" aria-hidden="true" class="popup popup-cake">
	<div data-fls-popup-wrapper>
		<div data-fls-popup-body>
			<div data-fls-popup-content>
				<!-- Контент -->
				<div class="popup-cake__wrapper">
					<div class="popup-cake__bg"></div>
					<div class="popup-cake__container">
						<div class="popup-cake__nav">
							<a href="#" class="popup-cake__btn btn btn--c" aria-label="замовити">
								<div class="btn--ic">
									<img src="@img/icons/cart-dark.svg" width="28" height="31" alt="корзина замовлення">
								</div>
								<span>Замовити</span>
							</a>
							<button class="popup-cake__close" data-fls-popup-close type="button" aria-label="закрити попап">
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1.00034 1L13.3747 13.3744M13.3744 1L1 13.3744" stroke="white" stroke-width="2" />
								</svg>
							</button>
						</div>
						<div class="popup-cake__body">
							<div class="popup-cake__info">
								<div class="popup-cake__head">
									<h3 class="popup-cake__title">
										ПЕЧИВО «КАЛІФОРНІЯ» ЗІ СМАКОМ АПЕЛЬСИНУ
									</h3>
									<div class="popup-cake__txt">
										<p>Новий тренд! Якщо хочеться похрумтіти з усією родиною! Зустрічайте печивко «Каліфорнія» – хрустке поєднання листкового тіста з начинкою зі смаком апельсину. Надзвичайно легкий смаколик точно знайде шанування серед поціновувачів
											солодощів до чаю чи кави.
	
										</p>
										<p>Будь в тренді! Хрумти солодко!</p>
									</div>
								</div>
								<div class="popup-cake__specification specification">
									<ul class="specification__list">
										<li class="specification__item">
											<div class="specification__title">
												<p>ВАГА 1 ШТ:</p>
											</div>
											<div class="specification__descr">
												<p>≈ 8 - 9 г.</p>
											</div>
										</li>
										<li class="specification__item">
											<div class="specification__title">
												<p>ТЕРМІН ПРИДАТНОСТІ:</p>
											</div>
											<div class="specification__descr">
												<p>6 МІСЯЦІВ</p>
											</div>
										</li>
										<li class="specification__item">
											<div class="specification__title">
												<p>ЯЩИК-ЕКРАНГОФРОКАРТОН:</p>
											</div>
											<div class="specification__descr">
												<p>395 х 295 х 90 mm - 2,5 кг</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="popup-cake__images">
								<div class="popup-cake__block">
									<div class="popup-cake__picture">
										<img src="@img/cake/cake-piece-popup.png" width="525" height="525" alt="Image">
									</div>
									<div class="popup-cake__podium"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>