.page--holiday {
  color: var(--white);
  // background-color: var(--red);
  background-color: var(--gray-bg);
}

[data-stars] {
  position: absolute;
  z-index: 0;
  inset: 0;
  top: 0;

  .star {
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    pointer-events: none;
    animation: starBlink infinite alternate ease-in-out;
  }

  .star-big {
    position: absolute;
    aspect-ratio: 1;
    pointer-events: none;
    animation: starBlinkBig infinite alternate ease-in-out;
  }
}

@keyframes starBlink {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

@keyframes starBlinkBig {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    opacity: 0.4;
    transform: scale(0.8);
  }
}


.title-head {
  line-height: 1.2;
  text-wrap: balance;

  // .title-head__title
  &__title {
    @include adaptiveValue("font-size", 40, 22);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (min-width:toEm($mobileSmall)) {
      margin-bottom: 15px;
    }
  }

  // .title-head__title-up
  &__title-up {
    font-family: 'Gogol', sans-serif;
    text-transform: lowercase;
    display: block;
    line-height: 0.8;
  }

  // .title-head__subtitle
  &__subtitle {
    @include adaptiveValue("font-size", 18, 12);

    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }
}

%brSection {
  position: relative;
  z-index: 1;
  overflow: hidden;
  @include adaptiveValue("border-top-left-radius", 75, 30);
  @include adaptiveValue("border-top-right-radius", 75, 30);
  @include adaptiveValue("margin-top", -75, -30);
}

%firstAnim {
  opacity: 0;
  [data-fls-loaded] & {
    opacity: 1;
    transform: translate(0,0%);
    transition: opacity .65s linear 0s, transform .65s ease;
  }
}

.holiday-hero {
  position: relative;
  overflow: hidden;
  @extend %bgGradient;
  // min-height: 100svh;

  min-height: calc(100svh + 35px);

  display: flex;
  flex-direction: column;

  padding-top: 170px;

  @media (min-width:toEm($mobileSmall)) {
    min-height: calc(100svh + 75px);
    padding-top: 215px;
  }

  // .holiday-hero__container
  &__container {
    flex: 1;
    position: relative;
    z-index: 2;
  }

  // .holiday-hero__body
  &__body {
  }
  
  // .holiday-hero__title
  &__title {
    @include adaptiveValue("font-size", 37, 24, 0, 768.98, 480.98);
    text-transform: uppercase;
    font-weight: 400;
    // color: var(--white);
    line-height: 1.18;
    text-align: center;
    margin-bottom: 11px;
    
    @extend %firstAnim;
    [data-fls-loaded] & {
      transition-delay: 2s;
    }
    @media (max-width:toEm(396.98)) {
      font-size: 6vw !important;
    }
  }

  // .holiday-hero__counter
  &__counter {
    // display: flex;
    align-items: center;
    // justify-content:center;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 630px;
    margin-inline: auto;

     @extend %firstAnim;
    [data-fls-loaded] & {
      transition-delay: 2.3s;
    }
  }

  // .holiday-hero__item
  &__item {
    text-transform: uppercase;
    text-align: center;

    p {
      color: var(--white);
      font-weight: 600;
      @include adaptiveValue("font-size", 19, 10, 0, 768.98, 480.98);
    }
  }

  // .holiday-hero__el
  &__el {
    span {
      display: inline-block;

      font-family: "LibreBodoni", sans-serif;
      @include adaptiveValue("font-size", 97, 50, 0, 768.98, 480.98);

      line-height: 1.18;
      background: linear-gradient(165deg, #f8ac67 22%, #f5dc77 43%, #f8ac67 68%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width:toEm($mobileXS)) {
        font-size: 12vw !important;
      }
    }
  }

  // .holiday-hero__bgs
  &__bgs {
    position: relative;
    z-index: 1;
    min-width: 889px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: -25px;
    // @include adaptiveValue("margin-top", -60, -30);
  }

  // .holiday-hero__moon
  &__moon {
    position: relative;
    z-index: 0;
    top: -15px;
    @media (min-width:toEm($mobileSmall)){
      top: -40px;
    }

    
    img {
      display: block;
      margin-inline: auto;
      @include adaptiveValue("width", 368, 228, 0, 1440.98, 480.98);
      @extend %firstAnim;
      [data-fls-loaded] & {
        transition-duration: 1s;
        transition-delay: .85s;
      }
    }
  }

  
  // .holiday-hero__santa
  &__santa {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    // z-index: 3;
    z-index: 1;
    max-width: 900px;
    margin-inline: auto;
    
  }
  
  // .holiday-hero__img
  &__img {
    position: absolute;
    opacity: 0;
     pointer-events: none;
    will-change: transform, opacity;
    @include adaptiveValue("width", 161, 99);
  }
  // .holiday-hero__path
  &__path {
    position: absolute;
    left: 50%;
    top: 0%;
    // transform: translate(-48%, 0%) rotate(0deg);
    transform: translate(-48%, 0%) rotate(0deg);
    height: auto;
    width: 90%; 
    // max-width: 866px;
    max-width: 620px;
    opacity: 0;
    @media (min-width:toEm($mobileSmall)){
      transform: translate(-48%, -100%) rotate(2deg);
      width: 100%;
        
    }
  }

  // .holiday-hero__bgs-wr
  &__bgs-wr {
    position: relative;
    z-index: 1;
  }

  // .holiday-hero__bg
  &__bg {
    @extend %bgRepeat;
  }

  // .holiday-hero__bg--1
  &__bg--1 {
    z-index: 2;
    @include adaptiveValue("margin-top", -271, -143);
    @include adaptiveValue("height", 415, 256);

    transform: translate(0,50%);
    @extend %firstAnim;
    [data-fls-loaded] & {
      transition-delay: 0.5s;
    }
    
    background-image: url("@img/holiday/hero/mountains-mb.png");
    @media (min-width:toEm($mobileSmall)) {
      background-image: url("@img/holiday/hero/mountains.png");
    }
    
  }
  
  // .holiday-hero__bg--2
  &__bg--2 {
    position: absolute;
    bottom: 0;
    z-index: 4;
    background-image: url("@img/holiday/hero/trees-mb.png");
    height: 85%;
    
    transform: translate(0,20%);
    @extend %firstAnim;
    [data-fls-loaded] & {
      transition-duration: .8s;
      transition-delay: 1.3s;
    }
    
    @media (min-width:toEm($mobileSmall)) {
      background-image: url("@img/holiday/hero/trees.png");
    }
  }
  
  // .holiday-hero__bg--3
  &__bg--3 {
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-image: url("@img/holiday/hero/houses-mb.png");
    height: 67%;
    
    transform: translate(0,10%);
     @extend %firstAnim;
     [data-fls-loaded] & {
      transition-duration: .8s;
      transition-timing-function: ease;
      transition-delay: 1.8s;
    }

    @media (min-width:toEm($mobileSmall)) {
      background-image: url("@img/holiday/hero/houses.png");
    }
  }


  // .holiday-hero__stars
  &__stars {
    opacity: 0;

    [data-fls-loaded] & {
      opacity: 1;
      transition: opacity 1s linear 0s;
    }
  }

}


.holiday-gifts {

  @extend %brSection;
  @extend %bgGradient;
  // min-height: 100svh;

  // .holiday-gifts__wrapper
  &__wrapper {}

  // .holiday-gifts__container
  &__container {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-top", 217, 85);
    @include adaptiveValue("margin-bottom", -170, -100);

    @media (min-width:toEm(820.98)) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  // .holiday-gifts__head-title
  &__head-title {
    position: relative;
    z-index: 2;
    max-width: 420px;

    
    opacity: 0;
    @media (min-width:toEm(820.98)) {
      transform: translate(0%,50%);
      margin-left: auto;
    }
  }

  // .holiday-gifts__picture
  &__picture {
    position: relative;
    z-index: 3;
    opacity: 0;

    transition: opacity .3s ease;
    max-width: 480px;

    &.--view {
      opacity: 1;
    }

    @media (min-width:toEm(820.98)) {
      max-width: auto;
    }

    @media (max-width: toEm(820.98)) {
      max-width: 580px;

    }

    img {
      // position: absolute;
      // top: 0;
      // left: 0;
      transform: translate(100%, 0%) scale(1);

      @media (min-width:toEm(820.98)) {
        transform: translate(150%, -10%) scale(1.45);
      }
    }
  }

  // .holiday-gifts__stars
  &__stars {
    opacity: 0;
    transition: opacity .3s ease;

    &.--view {
      opacity: 1;
      transition: opacity 1s ease;
    }
  }

  // .holiday-gifts__clouds
  &__clouds {
    position: relative;
    z-index: 1;
    min-width: 889px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  // .holiday-gifts__cloud
  &__cloud {
    @extend %bgRepeat;
    transition: transform .8s ease 0s, opacity .65s ease 0s;

    opacity: 0;
    transform: translate(0%, 50%);

    .--view & {
      opacity: 1;
      transform: translate(0%, 0%);
    }
  }

  // .holiday-gifts__cloud--1
  &__cloud--1 {
    position: relative;
    z-index: 0;
    background-image: url("@img/holiday/clouds/cloud-1-mb.png");
    @include adaptiveValue("height", 393, 233);

    @media (min-width:toEm($mobileSmall)) {
      background-image: url("@img/holiday/clouds/cloud-1.png");
    }
  }

  // .holiday-gifts__cloud--2
  &__cloud--2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-image: url("@img/holiday/clouds/cloud-2-mb.png");
    height: 78%;

    @media (min-width: toEm($mobileSmall)) {
      background-image: url("@img/holiday/clouds/cloud-2.png");
    }

    .--view & {
      transition-delay: 0.3s;
    }
  }

  // .holiday-gifts__cloud--3
  &__cloud--3 {
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-image: url("@img/holiday/clouds/cloud-3-mb.png");
    height: 52%;

    @media (min-width:toEm($mobileSmall)) {
      background-image: url("@img/holiday/clouds/cloud-3.png");
    }

    .--view & {
      transition-delay: 0.6s;
    }
  }
}

%beforeStarBig {
  content: '';
  position: absolute;
  z-index: -1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("@img/holiday/elements/star-big.svg");
  aspect-ratio: 1;
  pointer-events: none;

  transition: opacity .3s ease, transform .8s ease;
}

.holiday-hearts {
  position: relative;
  z-index: 1;
  background: #f7edef;
  margin-top: -5px;
  background: linear-gradient(104deg, #00a553 0%, #047840 100%);

  // .holiday-hearts__wrapper
  &__wrapper {
    opacity: 0;
    transform: translate(0%, 100px);
    transition: opacity .3s ease 0s, transform .8s ease 0s;
    will-change: transform;

    .--view & {
      opacity: 1;
      transform: translate(0%, 0px);
    }

    // background: linear-gradient(104deg, #00a553 0%, #047840 100%);

    @include adaptiveValue("padding-bottom", 163, 81);

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 105%;
      aspect-ratio: 1440/177;
      // background: inherit;
      background: linear-gradient(104deg, #00a553 0%, #047840 100%);

      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 2000px;

      -webkit-mask-image: url("@img/holiday/clouds/cloud-green.svg");
      -webkit-mask-repeat: repeat-x;
      -webkit-mask-position: top center;
      -webkit-mask-size: contain;

      mask-image: url("@img/holiday/clouds/cloud-green.svg");
      mask-repeat: repeat-x;
      mask-position: top center;
      mask-size: contain;

      @media (max-width: toEm(820.98)) {
        left: 50%;
        width: 1100px;
        transform: translate(-50%, -50%);
      }
    }
  }

  // .holiday-hearts__gerland
  &__gerland {
    position: relative;
    z-index: 5;
    width: 123%;
    height: auto;

    min-width: 1100px;
    max-width: 2500px;
    left: 100%;

    // margin-top: -170px;
    @include adaptiveValue("margin-top", -170, -120, 0, 1920.98, 900.98);
    transform: translate(-50%, 0%);

    @media (min-width:toEm($mobileSmall)) {
      left: 59%;
    }

    image {
      opacity: 0;
    }
  }

  // .holiday-hearts__container
  &__container {
    position: relative;
    z-index: 1;
    @include adaptiveValue("margin-top", -170, -50, 0, 1920.98, 900.98);

    &.--view {
      &::before {
        opacity: 1;
        transform: translate(-55%, -20%);

        @media (min-width:toEm(1200.98)) {
          transform: translate(-80%, -20%);
        }
      }

      &::after {
        transition-delay: 0.15s;
        opacity: 1;
        transform: translate(55%, 30%);

        @media (min-width:toEm(1200.98)) {
          transform: translate(80%, 30%);
        }
      }
    }

    &:before,
    &:after {
      @extend %beforeStarBig;
      opacity: 0;
      @include adaptiveValue("width", 409, 200);
    }

    &::before {
      filter: invert(38%) sepia(43%) saturate(705%) hue-rotate(99deg) brightness(94%) contrast(88%);
      left: 0;


      transform: translate(-150%, -20%);

      @media (min-width:toEm(1200.98)) {
        transform: translate(-150%, -20%);
      }
    }

    &::after {
      filter: invert(42%) sepia(58%) saturate(595%) hue-rotate(99deg) brightness(95%) contrast(89%);
      right: 0;
      bottom: 0;
      transform: translate(150%, 30%);

      @media (min-width:toEm(1200.98)) {
        transform: translate(150%, 30%);
      }
    }

    @media (min-width:toEm(820.98)) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: toEm(820.98)) {
      max-width: 480px;
    }

    @media (max-width:toEm($mobileSmall)) {
      margin-top: -90px !important;
    }
  }

  // .holiday-hearts__picture
  &__picture {
    position: relative;
    &::after {
      content:'';
      position: absolute;
      inset: 0;
      z-index: 7;

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("@img/holiday/elements/box-mask-mb.png");
      aspect-ratio: 312/396;
      pointer-events: none;
      
      @media (min-width:toEm(820.98)){
        background-image: url("@img/holiday/elements/box-mask-pc.png");
        aspect-ratio: 627/665;
      }
    }
  }

  // .holiday-hearts__girl-img
  &__girl-img {
    position: relative;
    z-index: 1;
  }

  // .holiday-hearts__frame
  &__frame {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-51.3%, -53.7%);
    max-width: 101%;

    path {
      stroke: white;
      stroke-width: 5;
      fill: none;
      stroke-linejoin: round;
      stroke-linecap: round;
      filter: drop-shadow(0 0 6px #F8FF30);
    }

    @media (min-width: toEm(820.98)) {
      max-width: 96%;
      transform: translate(-49.5%, -52%);
    }

    @media (max-width:toEm($mobileSmall)) {
      transform: translate(-51.3%, -52.9%);
    }
  }

  // .holiday-hearts__line
  &__line {
    display: none;

    @media (min-width:toEm(820.98)) {
      display: block;
      position: absolute;
      z-index: 2;
      bottom: 0;
      right: 0;
      width: 84%;
      transform: translate(83.5%, -38%);

      transition: opacity .65s ease;
      opacity: 0;
      &.--watcher-view {
        opacity: 1;
        transition-delay: 0.5s;
      }
    }
  }

  // .holiday-hearts__paths
  &__paths {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 60%;
    height: auto;
    opacity: 0;
    pointer-events: none;

    @media (min-width:toEm($mobileSmall)) {
      transform: translate(-50%, -55%);
    }
  }

  // .holiday-hearts__candy
  &__candy {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    will-change: transform;
    z-index: 6;
    max-width: 90px;

    @media (max-width:toEm($mobileSmall)) {
      scale: 0.8;
    }

    &.candy-1 {
      max-width: 121px;
    }

    &.candy-2 {
      max-width: 88px;
    }

    &.candy-3 {
      max-width: 112px;
    }

    &.candy-4 {
      max-width: 112px;
    }

    &.candy-5 {
      max-width: 77px;
    }
  }


  // .holiday-hearts__body
  &__body {
    padding-top: 20px;
    padding-left: 40px;
    
    &.--watcher-view {
      .holiday-hearts__head-title {
        opacity: 1;
        transform: translate(0%,0%);
      }
    }
    @media (min-width:toEm(1200.98)) {
      padding-left: 81px;
      padding-top: 100px;
    }

    @media (max-width: toEm(820.98)) {
      padding-left: 0px;
      margin-top: -40px;
    }
  }

  // .holiday-hearts__head-title
  &__head-title {

    opacity: 0;
    // transform: translate(30%,0%);
    transition: transform .65s ease, opacity .45s ease;
    will-change: transform;
    
    @media (min-width:toEm(820.98)){
      transform: translate(40%,0%);
    }
    

    .title-head__title {}

    .title-head__title-up {}

    .title-head__subtitle {
      @media (min-width:toEm(1200.98)) {
        max-width: 75%;
      }
    }

    .title-head__btn {
      @include adaptiveValue("margin-top", 28, 24);

      &.btn {
        min-width: 246px;

        // border-color: var(--red);
        @media (min-width:toEm($mobileSmall)) {
          min-width: 314px;
        }
      }
    }
  }

  // .holiday-hearts__slider
  &__slider {}
}


.slider-holiday {
  @extend %brSection;
  background-color: #D60115;
  opacity: 0;
  transform: translate(0%, 120px) scale(0.9);
  transition: transform .65s ease, opacity .45s ease;

  &.--view {
    opacity: 1;
    transform: translate(0%, 0px) scale(1);
  }

  // .slider-holiday__slider
  &__slider {
    position: relative;

    &::before {
      @extend %beforeStarBig;
      z-index: 2;
      left: 0;
      transform: translate(-55%, 0%);
      @include adaptiveValue("width", 409, 140);
      filter: invert(8%) sepia(92%) saturate(5559%) hue-rotate(336deg) brightness(115%) contrast(117%);
    }
  }

  // .slider-holiday__wrapper
  &__wrapper {}

  // .slider-holiday__slide
  &__slide {}

  // .slider-holiday__slide-picture
  &__slide-picture {
    aspect-ratio: 375/332;

    @media (min-width:toEm($mobileSmall)) {
      aspect-ratio: 1440/840;
    }

    img {
      aspect-ratio: 375/332;

      @media (min-width:toEm($mobileSmall)) {
        aspect-ratio: 1440/840;
      }
    }
  }

  // .slider-holiday__pagination
  &__pagination {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, -50%);

    width: 100%;

    @media (min-width:toEm($mobileSmall)) {
      top: 50%;
      bottom: auto;
      max-width: 87vw;
    }

    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      @include adaptiveValue("gap", 15, 9);

      @media (min-width:toEm($mobileSmall)) {
        align-items: flex-end;
        flex-direction: column;
      }

      .swiper-pagination-bullet {
        border-radius: 50%;
        width: 3px;
        aspect-ratio: 1;
        background-color: var(--white);
        opacity: 0.5;
        transition: opacity .5s ease;

        @media (min-width:toEm(820.98)) {
          width: 5px;
        }

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }

  // .slider-holiday__btns
  &__btns {
    display: none;

    @media (min-width:toEm(820.98)) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;

      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      @include adaptiveValue("bottom", 150, 45);

      width: 100%;
      max-width: 88vw;
    }
  }

  // .slider-holiday__btn
  &__btn {
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: background-color .3s ease, border-color .3s ease;

    svg {
      width: 65px;
      height: auto;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--red);
        border-color: var(--white);
      }
    }

    &.swiper-button-prev {}

    &.swiper-button-next {}

    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}


.holiday-residence {
  @extend %brSection;
  box-shadow: 0 -9px 11px 0 rgba(105, 6, 0, 0.26);
  background: #a6001e;

  @include adaptiveValue("padding-bottom", 160, 40);

  // .holiday-residence__container
  &__container {}

  // .holiday-residence__body
  &__body {
    position: relative;
    display: grid;
    padding-bottom: 48px;

    &.--view {
      &::before {
        opacity: 1;
        transform: translate(-80%, 45%);
      }
    }

    &::before {
      @extend %beforeStarBig;
      @include adaptiveValue("width", 607, 140);

      opacity: 0;

      @media (min-width:toEm($mobileSmall)) {
        z-index: -1;
        left: 0;
        bottom: 0;
        transform: translate(-150%, 45%);
        filter: invert(12%) sepia(73%) saturate(5231%) hue-rotate(335deg) brightness(90%) contrast(116%);
      }

      @media (max-width:toEm($mobileSmall)) {
        display: none;
      }
    }


    @media (min-width:toEm(1220.98)) {
      grid-template-columns: 1fr 365px;
    }

    @media (min-width:toEm(820.98)) {
      padding-bottom: 340px;
    }

    @media (max-width: toEm(1220.98)) and (min-width: toEm(820.98)) {
      grid-template-columns: 1fr 40%;
    }

    @media (max-width: toEm(820.98)) and (min-width: toEm($mobileSmall)) {
      padding-bottom: 100px;
    }
  }

  // .holiday-residence__pictures
  &__pictures {
    position: relative;

    @media (max-width: toEm(820.98)) {
      width: 155%;
      transform: translate(-31%, 0);
    }
  }

  // .holiday-residence__picture
  &__picture {
    position: relative;
    z-index: 1;
    aspect-ratio: 1655/746;

    @media (min-width:toEm(1200.98)) {
      // scale: 2;
      transform: scale(2);
      transform-origin: 70% 0%;
    }
    
    @media (max-width: toEm(1200.98)) and (min-width: toEm(820.98)) {
      // scale: 2.2;
      transform: scale(2.2);
      transform-origin: 75% 0%;
    }

    // @media (max-width: toEm(820.98)){
    //   scale: 1.55;
    //   transform-origin: 89% 0%;
    // }

    .holiday-residence__img {
      -webkit-mask-image: url("@img/holiday/residence/mask.png");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: top center;
      -webkit-mask-size: cover;

      mask-image: url("@img/holiday/residence/mask.png");
      mask-repeat: no-repeat;
      mask-position: top center;
      mask-size: cover;

      aspect-ratio: 1655/746;
    }

  }

  // .holiday-residence__svg
  &__svg {
    position: absolute;
    top: -1%;
    right: -0.3%;
    width: 103%;
    height: auto;

    [id="path-1"] {
      filter: drop-shadow(-6px 0px 9px rgb(0, 0, 0, 0.9));
    }

    [id="path-2"] {
      filter: drop-shadow(5px -6px 9px rgb(0, 0, 0, 0.8));
    }
  }

  // .holiday-residence__svg-2
  &__svg-2 {
     position: absolute;
     opacity: 0;
    top: -1%;
    right: -0.2%;
    width: 102%;
    height: auto;
  }


	// .holiday-residence__star
	&__star {
    @include adaptiveValue("width", 72, 23);
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    will-change: transform;
	}

  // .holiday-residence__box
  &__box {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    bottom: -50px;
    right: 0%;
    transform: translate(28%, 35%);
    @include adaptiveValue("max-width", 348, 151);
    aspect-ratio: 368/343;

      opacity: 0;
      transition: bottom .75s ease, opacity .45s ease;
      
      &.--watcher-view {
        bottom: 0px;
        opacity: 1;
        
      }
      
    @media (min-width:toEm(820.98)) {
      transition-delay: 0.5s;
      transform: translate(90%, 80%);
    }
  }

  // .holiday-residence__head
  &__head {
    max-width: 396px;
    width: 100%;
    @include adaptiveValue("padding-top", 180, 95, 2, 1220.98, 820.98);

    @media (max-width: toEm(820.98)) and (min-width: toEm(360.98)) {
      margin-top: -5%;
    }

    &.--watcher-view {
      .title-head {
        opacity: 1;
        transform: translate(0%,0%);
      }
    }

    .title-head {
       opacity: 0;
      transition: transform .75s ease, opacity .45s ease;
      
      @media (min-width:toEm(820.98)){
        transform: translate(50%,0%);
      }

    }

    .title-head__title {
      br {
        display: none;

        @media (min-width:toEm(820.98)) {
          display: block;
        }
      }
    }

    .title-head__title-up {
      background: linear-gradient(300deg, #fdefa3 0%, #fbc879 11.93%, #fbc879 23.8%, #f8c775 38.77%, #fcd189 50.2%, #fcd189 57.79%, #f9f1a8 74.19%, #fcd189 89.46%, #f5c573 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 1.6;
      padding-left: 6%;
      margin-left: -6%;
      margin-bottom: -2px;

      @media (min-width:$mobileSmall) {
        line-height: 1.2;
        margin-bottom: -8px;
      }
    }

    .title-head__subtitle {}
  }

  // .holiday-residence__tickets
  &__tickets {}
}

%ticketsAnim {
  opacity: 0;
  transition: opacity .65s ease, transform .65s ease;
  &.--watcher-view {
    opacity: 1;
  }
}

.tickets-holiday {
  position: relative;
  @include adaptiveValue("padding", 4, 1);
  @include adaptiveValue("border-radius", 44, 21);
  background: linear-gradient(0deg, #DA7D22 0%, #FFFDE6 100%);
  box-shadow: -3px 3px 1px 0 #87001f;

  @media (min-width:toEm($mobileSmall)) {
    box-shadow: -9px 9px 1px 0 #87001f;
  }

 @extend %ticketsAnim;
 
 &.--watcher-view {
  &:before {
    transition-delay: 0.5s;
    transform: translate(-5%, -50%) scale(1);
    @media (min-width:toEm(1200.98)) {
      transform: translate(0%, -50%) scale(1);
    }
  }
 }
 
 &:before {
   content: "";
   position: absolute;
   top: 50%;
   left: 0%;
   @extend %ticketsAnim;
   transform: translate(-5%, -50%) scale(0);
   

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 60%;
    background-image: url("@img/holiday/residence/lights-mb.png");
    aspect-ratio: 602/508;

    @media (min-width:toEm(1200.98)) {
      background-image: url("@img/holiday/residence/lights-pc.png");
      width: 50%;
      transform: translate(0%, -50%) scale(0);
    }

  }

  // .tickets-holiday__body
  &__body {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    @include adaptiveValue("padding-block", 57, 24);
    @include adaptiveValue("padding-inline-end", 64, 16);
    @include adaptiveValue("padding-inline-start", 64, 0);

    @include adaptiveValue("border-radius", 41, 19);
    background: linear-gradient(90deg, #fdefa3 0%, #fbc879 11.93%, #fbc879 23.8%, #f8c775 38.77%, #fcd189 55.29%, #f9f1a8 72.84%, #f5c573 100%);

  

  }

  // .tickets-holiday__picture
  &__picture {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    max-width: 440px;

    grid-column: 1/2;

    img {
       @extend %ticketsAnim;
       transform: translate(-50%,0);
       .--watcher-view & {
        opacity: 1;
          transform: translate(0%,0);
          transition-delay: 0.3s;
        }
    }
  }

  // .tickets-holiday__block
  &__block {
    display: flex;
    align-items: center;
    grid-column: 2/3;
    @include adaptiveValue("gap", 38, 10);

    @media (any-hover: hover) {
      &:hover {
        .tickets-holiday__arr {
          transform: translate(10px, 0);
        }
      }
    }
  }

  // .tickets-holiday__txt
  &__txt {
    font-family: "MontserratAlternates", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.18;

    @include adaptiveValue("font-size", 36, 9);

    text-transform: uppercase;
    background: linear-gradient(133deg, #c56c44 0%, #a25d33 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // .tickets-holiday__arr
  &__arr {
    flex: 0 0 auto;
    @include adaptiveValue("max-width", 71, 19);
    transition: transform .3s ease;
  }
}

.holiday-made {
  position: relative;
  z-index: 1;
  background: radial-gradient(79.93% 79.93% at 52.15% 92.12%, #fe0026 0%, #a6001e 100%);
  // padding-top: 10px;
  @include adaptiveValue("padding-bottom", 125, 50);

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: 0;
      width: 103%;
      aspect-ratio: 1450/106;
      pointer-events: none;
      background: var(--gray-bg);

      left: 50%;
      transform: translate(-50%, 0%);

      -webkit-mask-image: url("@img/holiday/items/vector.svg");
      -webkit-mask-repeat: repeat-x;
      -webkit-mask-position: top center;
      -webkit-mask-size: contain;

      mask-image: url("@img/holiday/items/vector.svg");
      mask-repeat: repeat-x;
      mask-position: top center;
      mask-size: contain;
    }

  // .holiday-made__container
  &__container {
    position: relative;
    
    &.--view {
      &::after {
        opacity: 1;
        transform: translate(50%, -45%);

        @media (min-width:toEm(1200.98)) {
          transform: translate(75%, -60%);
        }
      }
    }

    &:after {
      @extend %beforeStarBig;
      z-index: 0;
      opacity: 0;
      @include adaptiveValue("width", 409, 100);
      filter: invert(12%) sepia(73%) saturate(5231%) hue-rotate(335deg) brightness(90%) contrast(116%);
      right: 0;
      top: 0;
      transform: translate(150%, -60%);
    }

  }

  // .holiday-made__head
  &__head {
    &.cake-format__head {
      @include adaptiveValue("margin-bottom", 44, 37);
      text-wrap: balance;

      @media (max-width:toEm($mobileSmall)){
         max-width: 70%; 
      }

      .cake-format__title {
        text-wrap: auto;
      }
    }
  }

  // .holiday-made__list
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // justify-items: center;
    gap: 32px 15px;
    max-width: 95%;
    margin-inline: auto;
    
    @media (min-width:toEm(600.98)) {
      max-width: 100%;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px 100px;
    }
  }

  // .holiday-made__item
  &__item {}

  // .holiday-made__link
  &__link {
    width: 100%;
    display: block;

    opacity: 0;
    transform: translate(0, 50%);
    transition: opacity .45s ease, transform .75s ease;

    .--watcher-view & {
      opacity: 1;
      transform: translate(0%);
    }


    @extend %beforeHearts;

    &::before {
      z-index: 2;
      width: 150%;
      aspect-ratio: 490/385;
      background-image: url("@img/holiday/items/items-star.png");
    }

    img {
      @include adaptiveValue("max-width", 271, 134);
      object-fit: contain;
      display: block;
      margin-inline: auto;
      margin-bottom: 10px;
      transition: transform .45s ease;
      aspect-ratio: 235/224;

      @media (min-width:toEm($mobileSmall)) {
        margin-bottom: 5px;
      }
    }

    h3 {
      text-align: center;
      text-transform: uppercase;
      line-height: 1.18;
      @include adaptiveValue("font-size", 20, 12);
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }

        &::before {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    &:active {
      img {
        transform: scale(1.05);
      }

      &::before {
        transform: translate(-50%, -50%) scale(1);
      }

    }
  }
}


