	<div data-fls-catalog data-fls-parallax-parent data-fls-parallax-smooth="20" data-fls-parallax-center="center" class="catalog-cake footer-margin">
		<div class="catalog-cake__container">
			<div data-fls-watcher data-fls-watcher-threshold="1" class="catalog-cake__item">
				<p data-fls-splittype="words,span" class="catalog-cake__title">
					КАТАЛОГ ПРОДУКЦІЇ
				</p>
				<div class="catalog-cake__picture">
					<img data-fls-parallax data-fls-parallax-coefficient="10" src="@img/elements/catalog.png" width="318" height="303" alt="Image">
				</div>
				<a href="@files/catalog.pdf" target="_blank" class="catalog-cake__link" aria-label="Завантажити каталог">
					<svg width="74" height="74" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M29.5054 19.5899C30.0786 18.9919 31.0285 18.9718 31.6265 19.545L50.1685 37.3145L31.6265 55.0831C31.0284 55.6563 30.0786 55.6363 29.5054 55.0382C28.9325 54.4402 28.9526 53.4912 29.5504 52.918L45.8316 37.3145L29.5504 21.711C28.9524 21.1378 28.9323 20.188 29.5054 19.5899Z"
							fill="#ffffff" />
					</svg>
				</a>
			</div>
		</div>
	</div>