// Шаблони (заготівлі)
// @extend %ім'я шаблону;
// Сніппет (SCSS): ex

// Стилі для чуйних зображеннь (IBG)
%ibg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
// Лічильник для списку
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
// Адаптивне відео
%responsiveVideo {
	video,
	iframe,
	object,
	embed {
		aspect-ratio: 16 / 9;
	}
}
// Відео як фон
%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		object-fit: cover;
	}
}
// Сірий фільтр
%grayfilter {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	@media (any-hover: hover) {
		&:hover {
			filter: grayscale(0);
		}
	}
}
// Скасувати виділення
%noselect {
	user-select: none;
}
// Дзеркальне відображення
%mirror {
	transform: scale(-1, 1);
}
// Плавний скролл
%smoothscroll {
	-webkit-overflow-scrolling: touch;
}
// Сховати скролл
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}

%absoluteBgImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

%absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

%bgImage {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

%transitionClipPathEase {
		&.--watcher-view {
      img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
    img {
			transition: clip-path 0.75s ease;
      clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
			will-change: clip-path;
    }
	}
	%transitionClipPathEase2 {
		&.--watcher-view {
			img {
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			}
    }
    img {
			transition: clip-path 0.75s ease;
			clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 100%);
			will-change: clip-path;
    }
}

%splitTransformOpacity {
	opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--index) * .05s);
}

%splitTransformOpacityWatcher {
	.subword {
		 transform: translateY(100%);
  	transition: transform .55s cubic-bezier(.22,.89,.34,.96), opacity .2s ease;
		.--watcher-view & {
			opacity: 1;
			transform: translateY(0);
			transition-delay: calc(var(--index) * .05s);
		}
	}
}
// %splitTransformOpacityWatcher2 {
// 	&.--watcher-view {
// 			.subword {
// 			opacity: 1;
// 			transform: translateY(-8%);
// 			transition-delay: calc(var(--index) * .05s);
// 		}
// 	}
// }

%opacityHero {
	opacity: 0;
  [data-fls-loaded] & {
		transition: opacity .65s ease;
   opacity: 1;
  }
}

%opacityWatcher {
	opacity: 0;
	transition: opacity .45s ease 0s;
	.--watcher-view & {
		opacity: 1;
	}
}