<div data-fls-categorys class="category-cake">
		<div class="category-cake__container">
			<ul class="category-cake__list">
				<li class="category-cake__item">
					<a href="#" class="category-cake__picture" aria-label="лінк на сторінку">
						<img src="@img/category/category-1.png" width="275" height="280" alt="Image">
					</a>
					<a href="#" class="category-cake__btn btn btn--a" aria-label="лінк на сторінку">
						<span>Цукерки</span>
					</a>
				</li>
				<li class="category-cake__item">
					<a href="#" class="category-cake__picture" aria-label="лінк на сторінку">
						<img src="@img/category/category-2.png" width="275" height="280" alt="Image">
					</a>
					<a href="#" class="category-cake__btn btn btn--a" aria-label="лінк на сторінку">
						<span>Круасани</span>
					</a>
				</li>
				<li class="category-cake__item">
					<a href="#" class="category-cake__picture" aria-label="лінк на сторінку">
						<img src="@img/category/category-3.png" width="275" height="280" alt="Image">
					</a>
					<a href="#" class="category-cake__btn btn btn--a" aria-label="лінк на сторінку">
						<span>Печиво</span>
					</a>
				</li>
				<li class="category-cake__item">
					<a href="#" class="category-cake__picture" aria-label="лінк на сторінку">
						<img src="@img/category/category-4.png" width="275" height="280" alt="Image">
					</a>
					<a href="#" class="category-cake__btn btn btn--a" aria-label="лінк на сторінку">
						<span>Торти</span>
					</a>
				</li>
			</ul>
		</div>
	</div>