.btn {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: max-content;
  border: 1px solid var(--white);
  border-radius: 84px;
  padding: 6px 25px;
  background-color: var(--red);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  outline-width: 1px;

  transition: color .3s ease, background-color .3s ease, border-color .3s ease;
  &:focus-visible {
    outline-color: var(--primary);
  }

  @media (any-hover: hover){
    &:hover{
      background-color: var(--white);
      color: var(--red);
      border-color: var(--red);
    }
  }
  // .btn--a
  &--a {
    @include adaptiveValue("min-height", 51, 40);
    @include adaptiveValue("font-size", 13,10);
  }
  // .btn--b
  &--b {
    @include adaptiveValue("min-height", 51, 34);
    @include adaptiveValue("font-size", 13,9);
  }
  // .btn--c
  &--c {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    @include adaptiveValue("min-height", 51, 34);
    @include adaptiveValue("font-size", 13,9);
    padding: 6px 16px;
    @media (min-width:toEm($mobileSmall)){
      gap: 15px; 
      padding: 6px 25px;
    }
    .btn--ic {
      @include adaptiveValue("height", 31, 21);
      svg,img {
        @extend %ibg;
        object-fit: contain;
      }
      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(292deg) brightness(104%) contrast(102%);
      }
    }
    @media (any-hover: hover){
      &:hover{
        .btn--ic {
         img {
          filter: invert(11%) sepia(92%) saturate(6875%) hue-rotate(344deg) brightness(103%) contrast(104%);
         }
        }
      }
    }
  }
 
}
