<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="page page--home">
	<section class="home-hero">
		<div class="home-hero__video">
			<video class="ibg" muted loop playsinline autoplay>
				<!-- видео для пк/планшетов (вес/качество больше) -->
				<source src="@video/hero-video.mp4" type="video/mp4" media="(min-width: 30.061em)">
				<!-- видео для мобилок (вес/качество меньше) -->
				<source src="@video/hero-video-mb.mp4" type="video/mp4">
			</video>
			<picture>
				<source media="(max-width: 600px)" srcset="@img/home/hero-preview-mb.webp" type="image/webp">
				<img data-img-ignore class="home-hero__poster" width="1440" height="680" alt="Image" src="@img/home/hero-preview-pc.webp">
			</picture>
			<button type="button" class="home-hero__next" aria-label="next section">
				<img src="@img/icons2/btn-dwn.svg" width="80" height="80" alt="Image">
			</button>
		</div>
	</section>

	<section class="home-slides">
		<div class="home-slides__body">
			<div data-fls-slider class="home-slides__slider swiper">
				<ul class="home-slides__wrapper swiper-wrapper">
					<li class="home-slides__slide swiper-slide">
						<div class="home-slides__img">
							<picture>
								<source media="(max-width: 600px)" srcset="@img/home/slide-1-mb.webp" type="image/webp">
								<img data-img-ignore class="ibg" src="@img/home/slide-1-pc.webp" width="1914" height="708" alt="Image">
							</picture>
						</div>
						<div class="home-slides__container">
							<a href="#4" class="home-slides__link btn btn--e" data-fls-buttons aria-label="link">
								<span>Переглянути &ensp; ></span>
							</a>
						</div>
					</li>
					<li class="home-slides__slide swiper-slide">
						<div class="home-slides__img">
							<picture>
								<source media="(max-width: 600px)" srcset="@img/home/slide-2-mb.webp" type="image/webp">
								<img data-img-ignore class="ibg" src="@img/home/slide-2-pc.webp" width="1914" height="708" alt="Image">
							</picture>
						</div>
						<div class="home-slides__container">
							<a href="#3" class="home-slides__link btn btn--e" data-fls-buttons aria-label="link">
								<span>Переглянути &ensp; ></span>
							</a>
						</div>
					</li>
					<li class="home-slides__slide swiper-slide">
						<div class="home-slides__img">
							<picture>
								<source media="(max-width: 600px)" srcset="@img/home/slide-1-mb.webp" type="image/webp">
								<img data-img-ignore class="ibg" src="@img/home/slide-1-pc.webp" width="1914" height="708" alt="Image">
							</picture>
						</div>
						<div class="home-slides__container">
							<a href="#2" class="home-slides__link btn btn--e" data-fls-buttons aria-label="link">
								<span>Переглянути &ensp; ></span>
							</a>
						</div>
					</li>
					<li class="home-slides__slide swiper-slide">
						<div class="home-slides__img">
							<picture>
								<source media="(max-width: 600px)" srcset="@img/home/slide-2-mb.webp" type="image/webp">
								<img data-img-ignore class="ibg" src="@img/home/slide-2-pc.webp" width="1914" height="708" alt="Image">
							</picture>
						</div>
						<div class="home-slides__container">
							<a href="#1" class="home-slides__link btn btn--e" data-fls-buttons aria-label="link">
								<span>Переглянути &ensp; ></span>
							</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="home-slides__btns __container">
				<button type="button" class="home-slides__btn swiper-btn swiper-button-prev" aria-label="prev slide">
					<svg class="swiper-btn__icon" width="53" height="53" viewBox="0 0 53 53" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						<circle class="swiper-btn__fill" cx="26.5" cy="26.5" r="25.5" />
						<circle class="swiper-btn__stroke"  cx="26.5" cy="26.5" r="25.5" />
						<path class="swiper-btn__arrow" d="M29.918 36.787a1 1 0 0 1-1.414-.02l-9.062-9.44a1.86 1.86 0 0 1 0-2.575l9.062-9.44a1 1 0 1 1 1.444 1.384l-8.822 9.344 8.822 9.343a1 1 0 0 1-.03 1.404Z" />
					</svg>
				</button>
				<button type="button" class="home-slides__btn swiper-btn swiper-button-next" aria-label="next slide">
					<svg class="swiper-btn__icon" width="53" height="53" viewBox="0 0 53 53" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						<circle class="swiper-btn__fill" fill="green" cx="26.5" cy="26.5" r="25.5" />
						<circle class="swiper-btn__stroke"  cx="26.5" cy="26.5" r="25.5" />
						<path class="swiper-btn__arrow"  d="M23.082 16.213a1 1 0 0 1 1.414.02l9.062 9.44a1.86 1.86 0 0 1 0 2.575l-9.062 9.44a1 1 0 1 1-1.444-1.384l8.822-9.344-8.822-9.343a1 1 0 0 1 .03-1.404Z" />
					</svg>
				</button>
			</div>
		</div>
	</section>
	<section>
		<div class="home-prod">
			<div class="home-prod__container">
				<ul class="home-prod__list">
					<li class="home-prod__item">
						<a href="#" class="home-prod__link" aria-label="link">
							<img data-img-ignore class="ibg-cn" src="@img/home/prod-1.webp" width="280" height="328" alt="Image">
							<div class="home-prod__t">Цукерки</div>
							<span></span>
						</a>
					</li>
					<li class="home-prod__item">
						<a href="#" class="home-prod__link" aria-label="link">
							<img data-img-ignore class="ibg-cn" src="@img/home/prod-2.webp" width="280" height="328" alt="Image">
							<div class="home-prod__t">Круасани</div>
							<span></span>
						</a>
					</li>
					<li class="home-prod__item">
						<a href="#" class="home-prod__link" aria-label="link">
							<img data-img-ignore class="ibg-cn" src="@img/home/prod-3.webp" width="280" height="328" alt="Image">
							<div class="home-prod__t">Печиво</div>
							<span></span>
						</a>
					</li>
					<li class="home-prod__item">
						<a href="#" class="home-prod__link" aria-label="link">
							<img data-img-ignore class="ibg-cn" src="@img/home/prod-4.webp" width="280" height="328" alt="Image">
							<div class="home-prod__t">Торти</div>
							<span></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="home-news">

		</div>
	</section>

	<!-- <div data-video-hero class="video-hero__video">
				<button type="button" class="video-hero__play" aria-label="play">
					<svg class="playBut" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
						<polygon class="triangle" fill="none" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="39.65 65.38 39.65 34.62 64.32 50 39.65 65.38">
						</polygon>
						<circle class="circle_wh" fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="50" cy="50" r="40">
						</circle>
						<circle class="circle" fill="none" stroke="#1A1F35" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="50" cy="50" r="40">
						</circle>
					</svg>
				</button>
				<div class="video-hero__preview">
					<video muted loop playsinline>
						<source data-src="@video/hero-video-short.mp4" type="video/mp4" media="(min-width: 30.061em)">
						<source data-src="@video/hero-video-short-mb.mp4" type="video/mp4">
					</video>
					<picture>
						<source media="(max-width: 600px)" srcset="@img/home/hero-preview-mb.webp" type="image/webp">
						<img data-img-ignore width="1440" height="680" alt="Image" src="@img/home/hero-preview-pc.webp">
					</picture>
				</div>
				<div class="video-hero__main">
					<video muted playsinline>
						<source src="@video/hero-video.mp4" type="video/mp4" media="(min-width: 30.061em)">
						<source src="@video/hero-video-mb.mp4" type="video/mp4">
					</video>
					<picture>
						<source media="(max-width: 600px)" srcset="@img/home/hero-preview-mb.webp" type="image/webp">
						<img data-img-ignore width="1440" height="680" alt="Image" src="@img/home/hero-preview-pc.webp">
					</picture>
				</div>
			</div> -->
</main>