.page--home {
  font-family: "OpenSans", sans-serif;
}

%svhSection {
  height: 100svh;
  max-height: 100svh;
  @media (orientation: portrait) and (min-width: toEm($mobileSmall)) and (min-height: toEm(1000.98) ) {
    max-height: 50svh;
  }
}

// .ibg {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .ibg-cn {
// 	width: 100%;
// 	height: 100%;
// 	object-fit: contain;
// }
// .home-hero {
//   position: relative;
//   z-index: 2;
//   background-color: var(--red);
//   padding-top: 60px;
//    height: 100svh;
// }
// .home-hero__video {
//   position: absolute;
//   inset: 0;
//   mask: url("../assets/img/home/mask-hero.webp");
//   mask-position: center bottom;
//   mask-repeat: no-repeat;
//   mask-size: auto 100%;
//   -webkit-mask: url("../assets/img/home/mask-hero.webp");
//   -webkit-mask-position: center bottom;
//   -webkit-mask-repeat: no-repeat;
//   -webkit-mask-size: auto 100%;
// }
// .home-hero__video video {
//   position: relative;
//   z-index: 1;
// }
// .home-hero__poster {
//   position: absolute;
//   inset: 0;
//   z-index: 0;
// }

// @media (max-width: 62.06125em) {
//   .home-hero {
//     padding-top: 84px;
//   }
// }

// @media (orientation: portrait) and (min-width: 30.06125em) and (min-height: 62.56125em) {
//   .home-banner__img img, .home-banner, .home-slides__img img, .home-slides, .home-hero {
//     max-height: 50svh;
//   }
// }

// <style>.ibg,.ibg-cn{height:100%;width:100%}.ibg{object-fit:cover}.ibg-cn{object-fit:contain}.home-hero{ max-height: 100svh;position:relative;z-index:2;background-color:var(--red);padding-top:60px;height:100svh}.home-hero__video{position:absolute;inset:0;mask:url("../assets/img/home/mask-hero.webp");mask-position:center bottom;mask-repeat:no-repeat;mask-size:auto 100%;-webkit-mask:url("../assets/img/home/mask-hero.webp");-webkit-mask-position:center bottom;-webkit-mask-repeat:no-repeat;-webkit-mask-size:auto 100%}.home-hero__video video{position:relative;z-index:1}.home-hero__poster{position:absolute;inset:0;z-index:0}.swiper{overflow:hidden}.swiper-initialized{touch-action:pan-y}.swiper-wrapper{width:100%;height:100%;box-sizing:content-box;display:flex;position:relative}@media (max-width:62.06125em){.home-hero{padding-top:84px}}@media (orientation:portrait) and (min-width:30.06125em) and (min-height:62.56125em){.home-banner,.home-banner__img img,.home-hero,.home-slides,.home-slides__img img{max-height:50svh}}</style>


.home-hero {
  position: relative;
  z-index: 2;
  background-color: var(--red);
  padding-top: 60px;

  @extend %svhSection;

  @media (min-width:toEm($tablet)) {
    padding-top: 84px;
  }
	
  // .home-hero__video
	&__video {
    position: absolute;
    inset: 0;

	  mask: url("@img/home/mask-hero.png");
	  mask-position: center bottom;
	  mask-repeat: no-repeat;
	  mask-size: auto 100%;
    
	  -webkit-mask: url("@img/home/mask-hero.png");
	  -webkit-mask-position: center bottom;
	  -webkit-mask-repeat: no-repeat;
	  -webkit-mask-size: auto 100%;
    
    video {
      position: relative;
      z-index: 1;
    }
	}
	
  // .home-hero__poster
	&__poster {
    position: absolute;
    inset: 0;
    z-index: 0;
	}

	// .home-hero__next
	&__next {
    position: absolute;
    z-index: 3;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%,0);
    max-width: 60px;
    max-height: max-content;
    aspect-ratio: 1;
    img,svg {
      width: 100%;
      height: auto;
    }
    .btn-circle-fill {
     
    }
    .btn-circle-stroke {
     
    }
    .btn-arrow {
     
    }

    @media (min-width:toEm($mobileSmall)){
      max-width: 70px;
    }
	}

}

.btn-circle {
    @media (any-hover: hover){
      &:hover{
          .btn-circle__fill {
            fill: var(--white);
          }
          .btn-circle__arrow {
            fill: var(--red);
          }
          .btn-circle__stroke {
            stroke: var(--red);
          }
      }
    }
    &:active {
         .btn-circle__fill {
            fill: var(--white);
          }
          .btn-circle__arrow {
            fill: var(--red);
          }
          .btn-circle__stroke {
            stroke: var(--red);
          }
    }
		// .btn-circle__fill
		&__fill {
       fill: transparent;
    	transition: fill 0.3s ease;
		}

		// .btn-circle__stroke
		&__stroke {
       fill: none;
    	stroke: #fff;
    	stroke-width: 2;
      transition: stroke 0.3s ease;
		}

		// .btn-circle__arrow
		&__arrow {
       fill: #fff;
  	  transition: fill 0.3s ease;
		}

}


.home-slides {
   @extend %svhSection;
   position: relative;
   z-index: 0;
   overflow: hidden;
   background-color: var(--red);

     margin-top: -50px; 
		// .home-slides__body
		&__body {
		}

		// .home-slides__slider
		&__slider {
      position: relative;
      z-index: 1;
      @media (max-width:toEm($mobileSmall)){
         max-height: 800px; 
      }
		}

		// .home-slides__wrapper
		&__wrapper {
		}

		// .home-slides__slide
		&__slide {
      position: relative;
      &.swiper-slide-active {
        z-index: 50;
      }
		}

    // .home-slides__container
    &__container {
      position: absolute;
      z-index: 0;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%,0%);
    }

		// .home-slides__img
		&__img {
      position: relative;
      img {
           @extend %svhSection;
      }
		}


		// .home-slides__link
		&__link {
      margin-left: 22%;
      @media (max-width:toEm($mobileSmall)){
        margin-left: 0;
         max-width: 100%; 
      }
		}

		// .home-slides__btns
		&__btns {
      display: flex;
      justify-content: space-between;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      pointer-events: none;
		}
    
		// .home-slides__btn
		&__btn {
      pointer-events: all;
      &.swiper-button-prev {
      }
      &.swiper-button-next {
      }
		}
}


.swiper-btn {
    max-width: 45px;
  @media (min-width:toEm($mobileSmall)){
    max-width: 50px;
  }
  &.swiper-btn-white {
      .swiper-btn__arrow {
        fill: var(--red);
      }
      .swiper-btn__fill {
        fill: var(--white);
      }
      .swiper-btn__stroke {
        stroke: var(--red);
      }
      @media (any-hover: hover){
        &:hover{
          .swiper-btn__fill {
            fill: var(--red);
          }
          .swiper-btn__stroke {
            
          }
          .swiper-btn__arrow {
            fill: var(--white);
          }
        }
      }
  }
  @media (any-hover: hover){
    &:hover{
      .swiper-btn__fill {
        fill: var(--white);
      }
      .swiper-btn__stroke {
        
      }
      .swiper-btn__arrow {
        fill: var(--red);
      }
    }
  }
  &:active {
    .swiper-btn__fill {
      fill: var(--white);
    }
    .swiper-btn__stroke {
      
    }
    .swiper-btn__arrow {
      fill: var(--red);
    }
  }
  // .swiper-btn__icon
  &__icon {
     width: 100%;
    height: auto;
  }
  
  // .swiper-btn__fill
  &__fill {
    fill: var(--red);
    transition: fill .3s ease;
  }
  
  // .swiper-btn__stroke
  &__stroke {
    fill: none;
  	stroke: var(--white);
  	stroke-width: 2;
    transition: stroke .3s ease;
  }
  
  // .swiper-btn__arrow
  &__arrow {
      fill: var(--white);
      transition: fill .3s ease;
		}
}




.home-prod {
  padding-block: 60px;
  @media (min-width:toEm($mobileSmall)){
    padding-block: 100px;
  }
		// .home-prod__container
		&__container {
		}

		// .home-prod__list
		&__list {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      gap: 16px;
      @media (min-width:toEm(750.98)){
        grid-template-columns: repeat(4,1fr);
      }
		}

		// .home-prod__item
		&__item {
      position: relative;
		}

		// .home-prod__link
		&__link {
      width: 100%;
      position: relative;
      @media (any-hover: hover){
        &:hover{
          img {
            transform: scale(1.05);
          }
          // .home-prod__t {
          //   transform: translate(0,100%);
          // }
          span {
            &::before {
              height: 130%;
              transform: translate(0,-5%);
            }
          }
        }
      }
		  
      span {
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 54%);
        width: 93%;
        aspect-ratio: 1;
        &::before {
          content:'';
          border-radius: 130px;
          background-color: var(--red);  
          transform-origin: center;
          width: 100%;
          height: 100%;
          transition: height .35s ease, transform .35s ease;
        }

      }
      
      img {
        position: relative;
        z-index: 1;
        transition: transform .3s ease;
      }
		}
    // .home-prod__t
    &__t {
      padding-top: 30px;
      display: block;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.5;
      text-transform: uppercase;
      color: var(--red);
      text-align: center;
      // transition: transform .35s ease;
      @media (min-width:toEm($mobileSmall)){
        padding-top: 55px;
        font-size: 22px;
      }
    }
}

.home-news {
  padding-bottom: 60px;
  @media (min-width:toEm($mobileSmall)){
  padding-bottom: 100px;
  }
  
  // .home-news__container
    &__container {
    }
  // .home-news__dwnl
  &__dwnl {
    margin-bottom: 80px;
    @media (min-width:toEm($mobileSmall)){
       margin-bottom: 140px; 
    }
  }

		// .home-news__head
		&__head {
      text-align: center;
      margin-bottom: 30px;
		}

		// .home-news__title
		&__title {
      font-weight: 700;
      font-size: 36px;
      color: var(--red);
      text-transform: uppercase;
      margin-bottom: 10px;
      @media (min-width:toEm($mobileSmall)){
         font-size: 50px; 
      }
		}

		// .home-news__subtitle
		&__subtitle {
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
      text-transform: uppercase;
      color:var(--gray-acc);
      @media (min-width:toEm($mobileSmall)){
        font-size: 26px;
      }
		}

		// .home-news__swiper
		&__swiper {
      position: relative;
		}

    // .home-news__slider
		&__slider {
      overflow: visible;
      max-width: 473px;
      margin-inline: auto;
      margin-bottom: 30px;
      @media (min-width:toEm($mobileSmall)){
        margin-bottom: 80px;
      }
    }

		// .home-news__wrapper
		&__wrapper {
		}

		// .home-news__slide
		&__slide {
		}

		// .home-news__slide-w
		&__slide-w {
      opacity: 0;
      transition: opacity .45s ease;
      .swiper-slide-active &,
      .swiper-slide-prev &,
      .swiper-slide-next & {
        opacity: 1;
      }
		}
    
		// .home-news__img
		&__img {
      border-radius: 30px;
      overflow: hidden;
      aspect-ratio: 473/351;
      background-color: var(--red);
      margin-bottom: 25px;
      transition: box-shadow .45s ease;
      .swiper-slide-active & {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }
      img {
        aspect-ratio: 473/351;
      }
		}

		// .home-news__txt
		&__txt {
      max-width: 70%;
      margin-inline: auto;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
      color: var(--gray-acc);
      @media (min-width:toEm($mobileSmall)){
        font-size: 18px;
      }
		}

		// .home-news__btn
		&__btn {
      position: absolute;
      z-index: 5;
      top: 39%;
      transform: translate(0,-50%);
      @media (min-width:toEm($mobileSmall)){
        top: 43%;
      }
      @media (any-hover: hover){
        &:hover{
          .swiper-btn__stroke {
            stroke: var(--red);
          }
        }
      }
      &.swiper-button-prev {
        left: 0px;
        @media (min-width:toEm(1320.98)){
          left: -10px;
          transform: translate(-100%,-50%);
        }
        @media (max-width:toEm($mobileSmall)){
          transform: translate(-50%,-50%);
        }
      }
      &.swiper-button-next {
        right: 0px;
        @media (min-width:toEm(1320.98)){
          right: -10px;
          transform: translate(100%,-50%);
        }
        @media (max-width:toEm($mobileSmall)){
          transform: translate(50%,-50%);
        }
      }
		}

		// .home-news__link
		&__link {
      margin-inline: auto;
      @media (max-width:toEm($mobileSmall)){
         max-width: 100%; 
      }
		}
}

.dwnl-btn {
  margin-inline: auto;
  position: relative;
  background-color: var(--red);
  border-radius: 61px;
  text-transform: uppercase;
  padding-block: 5px;
  padding-inline: 34px 17px;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 64px;
  span {
    display: block;
  }
  @media (any-hover: hover){
    &:hover{
      &::before {
        scale: 1.05;
      }
    }
  }
  &::before {
    content:'';
    position: absolute;
    z-index: 1;
    @extend %bgImage;
    background-image: url("@img/home/candy-1.png");
    width: 100%;
    max-width: 98px;
    aspect-ratio: 186/129;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-20%);
    transition: scale .45s ease;
    @media (min-width:toEm($mobileSmall)){
      max-width: 186px;
      transform: translate(-35%,-20%);
    }
  }
  @media (min-width:toEm($mobileSmall)){
    max-width: max-content;
    padding-inline: 68px 35px;
    padding-block: 20px;
    min-height: 120px;
  }
  // .dwnl-btn__t
  &__t {
      flex: 1;
      font-weight: 700;
      font-size: 15px;
      color: var(--white);
      @media (min-width:toEm($mobileSmall)){
        margin-right: 130px;
        font-size: 32px;
      }
		}
    
		// .dwnl-btn__pdf
		&__pdf {
      font-weight: 300;
      font-size: 40px;
      color: var(--white);
      margin-right: 18px;
      @media (min-width:toEm($mobileSmall)){
        font-size: 75px;
      }
		}
    .btn-circle {
      flex: 0 0 33px;
      width: 33px;
      height: auto;
      aspect-ratio: 1;
      transform: rotate(-90deg);
      @media (min-width:toEm($mobileSmall)){
        flex: 0 0 63px;
         width: 63px; 
      }
    }
}


.home-banner {
     @extend %svhSection;
   position: relative;
   z-index: 0;
   overflow: hidden;
		// .home-banner__body
		&__body {
		}

		// .home-banner__slider
		&__slider {
        position: relative;
      z-index: 1;
		}

		// .home-banner__wrapper
		&__wrapper {
		}

		// .home-banner__slide
		&__slide {
      position: relative;
      &.swiper-slide-active {
        z-index: 50;
      }
		}

		// .home-banner__img
		&__img {
       position: relative;
      img {
        @extend %svhSection;
      }
		}

		// .home-banner__container
		&__container {
        position: absolute;
      z-index: 0;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%,0%);
		}

		// .home-banner__link
		&__link {
       margin-left: auto;
      @media (max-width:toEm($mobileSmall)){
        margin-left: 0;
         max-width: 100%; 
      }
		}

		// .home-banner__btns
		&__btns {
        display: flex;
      justify-content: space-between;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      pointer-events: none;
		}

		// .home-banner__btn
		&__btn {
      pointer-events: all;
      svg {
        .swiper-btn__fill {
          fill: transparent;
        }
      }
      @media (any-hover: hover){
        &:hover{
          .swiper-btn__stroke {
            stroke: var(--red);
          }
        }
      }
      &.swiper-button-prev {
      }
      &.swiper-button-next {
      }
		}
}


.home-marquee {
  position: relative;
  // z-index: 50;
  padding-block: 60px 100px;
  @media (min-width:toEm($mobileSmall)){
    padding-block: 60px 160px;
  }
		// .home-marquee__wrapper
		&__wrapper {
      margin-bottom: 80px;
    }
    
		// .home-marquee__body
		&__body {
      margin-bottom: 40px;
		}

		// .home-marquee__item
		&__item {
      display: flex;
      flex-direction: column;
      // height: 100%;
      // min-height: 100%;
      max-width: 260px;
      margin-right: 20px;
      user-select: none;
      @media (min-width:toEm($mobileSmall)){
        max-width: 296px;
        margin-right: 40px;
      }
      img {
        object-position: bottom;
      }
		}
    
		// .home-marquee__img
		&__img {
      margin-bottom: 25px;
      flex: 1;
		}
    
		// .home-marquee__txt
		&__txt {
      // flex: 1;
      font-weight: 600;
      font-size: 16px;
          
      line-height: 1.25;
      text-align: center;
      color: var(--gray-acc);
      min-height: 40px;
    }
    
    // .home-marquee__nav
    &__nav {
      display: flex;
      align-items:center;
      justify-content: center;
      gap: 20px;
    }
    
    // .home-marquee__btn
    &__btn {

      &.prev {
      }
      &.next {
      }
    }

		// .home-marquee__dwnl
		&__dwnl {

		}
}

.home-about {
  margin-bottom: 50px;
  // .home-about__body
  &__body {
      @extend %svhSection;
      background-color: var(--red);
      min-height: 500px;
      position: relative;
      // height: 100%;
		}

		// .home-about__head
		&__head {
      position: absolute;
      z-index: 1;
      padding-block: 60px;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
      @media (min-width:toEm($mobileSmall)){
        padding-block: 200px 60px;
      }
    
      @media (orientation: landscape) and (min-width: toEm(500.98)) and (max-height: toEm(480.98) ) {
        top: 50%;
        transform: translate(0,-50%);
        padding-block: 20px;
        }
		}

		// .home-about__container
		&__container {
		}

		// .home-about__title
		&__title {
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
      color: var(--white);
      margin-bottom: 50px;
      @media (min-width:toEm($mobileSmall)){
        font-size: 40px;
        margin-bottom: 120px;
      }
      @media (orientation: landscape) and (min-width: toEm(500.98)) and (max-height: toEm(480.98) ) {
        font-size: 22px;
        margin-bottom: 40px;
        }
      }
      
		// .home-about__play
		&__play {
      display: grid;
      place-items: center;
      max-width: 70px;
      border-radius: 50%;
      border: 2px solid var(--white);
      aspect-ratio: 1;
      margin-inline: auto;
      transition: background-color .3s ease;
      @media (min-width:toEm($mobileSmall)){
        max-width: 100px;
      }
      @media (orientation: landscape) and (min-width: toEm(500.98)) and (max-height: toEm(480.98) ) {
        max-width: 70px;
        }
      img,svg {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
      }
      svg {
        transition: transform .65s ease;
        path {
          transition: stroke .3s ease;
        }
      }
      @media (any-hover: hover){
        &:hover{
          background-color: var(--white);
          svg {
            transform: scale(1.2);
            path {
              stroke: var(--red);
            }
          }
        }
      }
		}

		// .home-about__preview
		&__preview {
      position: relative;
      z-index: 0;
      height: 100%;
      video {
        
      }
		}
    
		// .home-about__main
		&__main {
      position: absolute;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s ease, visibility .3s ease;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .--play & {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
      }
      video {
        position: relative;
        z-index: 1;
      }
      img {
        position: absolute;
        inset: 0;
        z-index: 0;
      }
		}
    // .home-about__team
    &__team {
      padding-top: 60px;
      margin-bottom: 60px;
      @media (min-width:toEm(1000.98)){
        margin-bottom: 160px;
        padding-top: 90px;
      }
    }
    // .home-about__social
		&__social {
		}
}

.team-card {
  position: relative;
  max-width: 998px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  @media (min-width:toEm(700.98)){
    margin-top: 140px;
    background-color: var(--red);
    border-radius: 27px;
    grid-template-columns: 44% 1fr;
  }
  // .team-card__img
  &__img {
    position: relative;
    @media (min-width:toEm(700.98)){
      min-height: 100%;
    }
    img {
      position: relative;
      margin-inline: auto;
      display: block;
      bottom: -1px;
      z-index: 0;
      @media (min-width:toEm(700.98)){
        position: absolute;
        bottom: 0;
        left: -30px;
      }
      @media (max-width: toEm(700.98)){
          max-width: 70%;
      }
    }
  }
  
  // .team-card__body
  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 30px 30px;
    background-color: var(--red);
    border-radius: 27px;
    @media (min-width:toEm(700.98)){
      padding: 48px 55px 48px 0;
      background-color: transparent;
    }
	}

		// .team-card__txt
		&__txt {
      flex: 1;
      font-weight: 700;
      font-size: 22px;
      line-height: 1.1;
      text-transform: uppercase;
      color: var(--white);
      @media (min-width:toEm(1000.98)){
        display: flex;
        justify-content: flex-end;
        font-size: 36px;
      }
      @media (max-width: toEm(1000.98)) and (min-width:toEm($mobileSmall)) {
        font-size: 28px;
      }
		}

		// .team-card__link
		&__link {
      margin-left:  20px;
      max-width: 50px;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      @media (min-width:toEm(1000.98)){
        margin-left:  108px;
      }
      @media (min-width:toEm($mobileSmall)){
        max-width: 63px;
      }
      svg {
        width: 100%;
        height: auto;
        transform: rotate(-90deg);
      }
		}
}

							

		
.social-home {
		// .social-home__link
		&__link {
      margin-inline: auto;
      font-size: 26px;
      margin-bottom: 11px;
      @media (min-width:toEm($mobileSmall)){
        font-size: 34px;
        padding-inline: 70px;
      }
      @media (max-width:toEm($mobileSmall)){
         max-width: 100%; 
      }
		}

		// .social-home__txt
		&__txt {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--red);
    text-align: center;
    @media (min-width:toEm($mobileSmall)){
      font-size: 28px;
    }
		}

		// .social-home__items
		&__items {
      margin-top: 37px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
		}

		// .social-home__item
		&__item {
		}

		// .social-home__item-l
		&__item-l {
      max-width: 50px;
      aspect-ratio: 1;
      transition: transform .3s ease;
      @media (any-hover: hover){
        &:hover{
          transform: translate(0,-7px);
        }
      }
      @media (min-width:toEm($mobileSmall)){
        max-width: 60px;
      }
      img {
        aspect-ratio: 1;
        width: 100%;
        height: auto;
      }
		}
}


.home-joy {
  position: relative;
  padding-bottom: 400px;
  margin-bottom: -400px;
  &::before {
    content:'';
    position: absolute;
    z-index: -1;
    top: 31%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--red);
    
    @media (min-width:toEm($mobileSmall)){
      mask: url("@img/home/footer-mask.png") center top / auto 100% no-repeat;
      top: 30%;
    }
    @media (max-width:toEm($mobileSmall)){
      mask: url("@img/home/footer-mask-mb.png") center top / auto 100% no-repeat;
    }
  
  }
		// .home-joy__container
		&__container {
      position: relative;
      z-index: 1;
		}

		// .home-joy__body
		&__body {
      position: relative;
      @media (max-width: toEm(1100.98)) and (min-width:toEm(700.98)) {
        scale: 0.7;
      }
      @media (max-width: toEm(700.98)) and (min-width:toEm($mobileSmall)) {
        scale: 0.5;
      }
      @media (max-width:toEm($mobileSmall)){
         scale: 0.6; 
      }
		}

		// .home-joy__candy
		&__candy {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: unset;
      right: 50%;
      transform: translate(157%, -13%);
      max-width: 216px;
      @media (min-width:toEm($mobileSmall)){
        bottom: 0;
        transform: translate(251%, 44%);
        top: unset;
      }
      img {
        width: 100%;
        height: auto;
      }
		}

		// .home-joy__items
		&__items {
      position: relative;
      z-index: 0;
		}

		// .home-joy__item
		&__item {
      position: absolute;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 10px solid var(--white);
      overflow: hidden;
      height: auto;
      width: 100%;
      background-color: var(--white);
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s ease;
        &._active {
          opacity: 1;
        }
      }
      &.item--1 {
        position: relative;
        z-index: 3;
        // max-width: 280px;
        max-width: 415px;
        margin-inline: auto;
        // @media (min-width:toEm($mobileSmall)){
        //   max-width: 415px;
        // }
      }
      &.item--2 {
        z-index: 2;
        max-width: 347px;
        left: 50%;
        top: 50%;
        transform: translate(-120%,-2%);
      }
      &.item--3 {
        z-index: 2;
        z-index: 2;
        max-width: 290px;
        right: 50%;
        top: 50%;
        transform: translate(128%,23%);
        @media (max-width: toEm(390.98)){
          transform: translate(124%, 17%);
        }
      }
      &.item--4 {
        z-index: 1;
        max-width: 263px;
        left: 50%;
        top: 100%;
        transform: translate(-100%,31%);
        @media (min-width:toEm($mobileSmall)){
          left: 50%;
          top: -11px;
          transform: translate(-191%,0%);
        }
      }
      &.item--5 {
        z-index: 1;
        max-width: 263px;
        right: 50%;
        top: 100%;
        transform: translate(111%, 38%);
        @media (min-width:toEm($mobileSmall)){
          right: 50%;
          top: 20px;
          transform: translate(169%,0%);
        }
      }
		}

		// .home-joy__text
		&__text {
      margin-top: 170px;
      font-weight: 700;
      font-size: 30px;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      color: var(--white);
      @media (min-width:toEm($mobileSmall)){
        font-size: 42px;
      }
      @media (max-width: toEm(1100.98)) and (min-width:toEm(700.98)) {
         margin-top: 80px;
      }
      @media (max-width: toEm(700.98)) and (min-width:toEm($mobileSmall)) {
        margin-top: 10px;
      }
      @media (max-width:toEm($mobileSmall)){
        margin-top: 170px;
      }
    }
}




footer {
  .page-home & {
    margin-top: 50px;
    .soc {
      a:nth-child(1),
      a:nth-child(2),
      a:nth-child(3),
      a:nth-child(4),
      a:nth-child(5) {
        margin-top: 0;
      }
    }
  }
}