 <!-- футер скопирован с существующего сайт -->
    <footer  data-fls-footer >
        <div class="container">
            <div class="top-footer flex-b">
                <img class="footer_logo" src="./Lukas/footer_logo.svg" alt="">
                <div class="soc hidden-xs flex-b">
                    <a href="https://www.youtube.com/channel/UC08try613MHlV6y8qq8B7kg/" target="_blank"><img width="22" src="./Lukas/soc1.svg" alt=""></a>
                    <a href="https://www.instagram.com/lukas.from.ukraine/" target="_blank"><img width="23" src="./Lukas/soc2.svg" alt=""></a>
                    <a href="https://www.facebook.com/lukas.company/" target="_blank"><img width="13" src="./Lukas/soc3.svg" alt=""></a>
                    <a href="https://twitter.com/ua_lukas" target="_blank"><img width="23" src="./Lukas/soc4.svg" alt=""></a>
                    <a href="https://www.linkedin.com/company/lukas-company/" target="_blank"><img width="21" src="./Lukas/soc5.svg" alt=""></a>
                </div>
            </div>

            <div class="mid-footer flex-b">
                <div class="flex-b nav-footer-cont">
                    <div class="nav-footer">
                        <p class="nav-footer-title">КОМПАНІЯ</p>
                        <ul>
                            <li id="menu-item-21967" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21967"><a href="https://lukas.ua/history/">Історія компанії</a></li>
                            <li id="menu-item-21968" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21968"><a href="https://lukas.ua/factory/">Можливості</a></li>
                            <li id="menu-item-21969" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21969"><a href="https://lukas.ua/pryncyp/">Принципи та цінності</a></li>
                            <li id="menu-item-21970" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21970"><a href="https://lukas.ua/shops/">Магазини-партнери</a></li>
                            <li id="menu-item-21971" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21971"><a href="https://lukas.ua/contacts/">Контакти</a></li>
                        </ul>
                    </div>

                    <div class="nav-footer">
                        <p class="nav-footer-title">ПРОДУКЦІЯ</p>
                        <ul>
                            <li id="menu-item-21972" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21972"><a href="https://lukas.ua/croissants/">Круасани</a></li>
                            <li id="menu-item-21973" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21973"><a href="https://lukas.ua/candy/">Цукерки</a></li>
                            <li id="menu-item-21974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21974"><a href="https://lukas.ua/cookies/">Печиво</a></li>
                            <li id="menu-item-26682" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26682"><a href="https://lukas.ua/cakes/">Торти</a></li>
                            <li id="menu-item-27568" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27568"><a href="https://lukas.ua/easter/">Паски</a></li>
                            <li id="menu-item-26404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26404"><a href="https://lukas.ua/holiday/">Новорічні подарунки</a></li>
                        </ul>
                    </div>

                    <div class="nav-footer">
                        <p class="nav-footer-title">СЬОГОДЕННЯ</p>
                        <ul>
                            <li id="menu-item-21976" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21976"><a href="https://lukas.ua/news/">Новини та події</a></li>
                            <li id="menu-item-21977" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21977"><a href="https://lukas.ua/records/">Рекорди компанії</a></li>
                            <li id="menu-item-21978" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21978"><a href="https://lukas.ua/ekskursiia/">Екскурсія до нас</a></li>
                            <li id="menu-item-23848" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23848"><a href="https://lukas.ua/team/">Команда</a></li>
                        </ul>
                    </div>

                    <div class="nav-footer nav-footer-adress">
                        <p class="nav-footer-title">АДРЕСА</p>
                        <p><b>ПП ВТК «Лукас»</b></p><br>

                        <p style="font-weight: normal;">вул. Сержанта Мельничука 186, <br>
                            м. Кременчук, Полтавська область, <br>
                            Україна</p><br>

                        <a href="https://www.google.com/maps/search/%D0%BB%D1%83%D0%BA%D0%B0%D1%81+%D0%BA%D0%BE%D0%BD%D0%B4%D0%B8%D1%82%D0%B5%D1%80%D1%81%D1%8C%D0%BA%D0%B0+%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D1%96%D1%8F/@49.0936432,33.4196853,14z"
                            style="font-weight: normal;" target="_blank">карта проїзду</a>
                    </div>
                </div>

                <div class="footer-contact">
                    <div class="tel flex-s">
                        <img src="./Lukas/tel.png" alt="">
                        <div>
                            <span>Гаряча лінія: </span>
                            <a href="tel:0 800 50 50 91">0 800 50 50 91</a>
                        </div>
                    </div>

                    <button class="but" data-popup="feedback">НАДІСЛАТИ НАМ ЗАПИТ <span class="over_but"></span></button>
                </div>
            </div>

            <div class="visible-xs">
                <div class="soc flex-b">
                    <a href="https://www.youtube.com/channel/UC08try613MHlV6y8qq8B7kg/" target="_blank"><img width="22" src="./Lukas/soc1.svg" alt=""></a>
                    <a href="https://www.instagram.com/lukas.from.ukraine/" target="_blank"><img width="23" src="./Lukas/soc2.svg" alt=""></a>
                    <a href="https://www.facebook.com/lukas.company/" target="_blank"><img width="13" src="./Lukas/soc3.svg" alt=""></a>
                    <a href="https://twitter.com/ua_lukas" target="_blank"><img width="23" src="./Lukas/soc4.svg" alt=""></a>
                    <a href="https://www.linkedin.com/company/lukas-company/" target="_blank"><img width="21" src="./Lukas/soc5.svg" alt=""></a>
                </div>
            </div>

            <div class="bot-footer flex-s">
                <p class="copy" style="font-weight: normal;">© «LUKAS» 1995 — 2025. Всі права захищені</p>
                <p class="info" style="font-weight: normal;">Використання будь-якої інформації, що розташована на сторінках сайту Кондитерської<br>
                    Компанії «Лукас», дозволяється лише з письмової згоди адміністрації сайту.</p>
            </div>
        </div>
    </footer>
